p {
  color: rgb(0, 89, 255);
  font-family: monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.event-class {
  width: 80%;
  height: 25px;
  border: 1px solid rgb(0, 89, 255);
  border-radius: 5px;
}

.grandParent {
  width: 300px;
  height: 300px;
  background-color: brown;
  position: relative;
  border: 2px solid saddlebrown;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-weight: 900;
}

.parent {
  width: 200px;
  height: 200px;
  background-color: rgb(230, 197, 12);
  position: absolute;
  transform: translate(50px, 50px);
  border: 2px solid saddlebrown;
  border-radius: 10px;
}

.child {
  width: 100px;
  height: 100px;
  background-color: rgb(12, 125, 230);
  position: absolute;
  transform: translate(50px, 50px);
  border: 2px solid rgb(230, 197, 12);
  border-radius: 10px;
}

.event-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.event-text {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
}

.gpt {
  opacity: 0;
  transition: all 1s ease-in;
}

.gpt.active {
  opacity: 1;
  transform: scale(1.7);
  color: saddlebrown;
  font-weight: 900;
}

.pt {
  opacity: 0;
  transition: all 1s ease-in;
}

.pt.active {
  opacity: 1;
  transform: scale(1.5);
  color: rgb(230, 197, 12);
  font-weight: 600;
}

.cd {
  opacity: 0;
  transition: all 1s ease-in;
}

.cd.active {
  opacity: 1;
  transform: scale(1.2);
  color: rgb(230, 197, 12);
  font-weight: 900;
}

#reset {
  padding: 0.5rem;
  margin: 1rem;
  width: 5rem;
  border-radius: 10px;
  border: 2px solid rgb(0, 89, 255);
  background-color: aliceblue;
  cursor: pointer;
}

.path {
  opacity: 0;
  transition: all 1s ease-in;
}

.path.active {
  opacity: 1;
  transform: scale(1.2);
  color: rgb(230, 197, 12);
  font-weight: 900;
}
